.b-button-icon--menu {
  background-image: url("../assets/icons/hamburger.svg");
}

.b-button-icon--search {
  background-image: url("../assets/icons/search.svg");
}

.b-button-icon--phone {
  background-image: url("../assets/icons/tel.svg");
}

.b-button-icon--message {
  background-image: url("../assets/icons/message.svg");
}

.b-button-icon--contact {
  background-image: url("../assets/icons/contact.svg");
}

.b-button-icon--tools {
  background-image: url("../assets/icons/tools.svg");
}

.b-button-icon--cross {
  background-image: url("../assets/icons/cross.svg");
}

.b-button-icon--loupe {
  background-image: url("../assets/icons/loupe.svg");
}
