.menu-icon {
  background-image: url("../assets/icons/hamburger.svg");
}

.search-icon {
  background-image: url("../assets/icons/search.svg");
}

.phone-icon {
  background-image: url("../assets/icons/tel.svg");
}

.message-icon {
  background-image: url("../assets/icons/message.svg");
}

.contact-icon {
  background-image: url("../assets/icons/contact.svg");
}

.tools-icon {
  background-image: url("../assets/icons/tools.svg");
}

.cross-icon {
  background-image: url("../assets/icons/cross.svg");
}

.loupe-icon {
  background-image: url("../assets/icons/loupe.svg");
}