@import 'variables';

html {
  font-family: 'TT Lakes', sans-serif;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  background-color: $background-primary-color;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: 'TT Lakes', sans-serif;
  cursor: pointer;
}

.logo {
  width: 96px;
  height: 50px;
  background-image: url('../assets/icons/logo.svg');
}