@import 'variables';

//@font-face {
//  font-family: 'TT Lakes';
//  src: url('../assets/fonts/TTLakes/TTLakes-Thin.eot');
//  src: url('../assets/fonts/TTLakes/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
//  url('../assets/fonts/TTLakes/TTLakes-Thin.woff') format('woff'),
//  url('../assets/fonts/TTLakes/TTLakes-Thin.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//}

@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/TTLakes/TTLakes-Regular.eot');
  src: url('../assets/fonts/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TTLakes/TTLakes-Regular.woff') format('woff'),
  url('../assets/fonts/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/TTLakes/TTLakes-Bold.eot');
  src: url('../assets/fonts/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/TTLakes/TTLakes-Bold.woff') format('woff'),
  url('../assets/fonts/TTLakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body, main, ul, ol, h1 {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-primary-color;
}

html {
  font-family: 'TT Lakes', sans-serif;
}

.logo {
  width: 96px;
  height: 50px;
  background-image: url('../assets/icons/logo.svg');
}