@import 'variables';

html {
  font-family: 'TT Lakes', sans-serif;
  color: $text-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
ul,
ol,
li {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  background-color: $background-color-primary;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: 'TT Lakes', sans-serif;
  cursor: pointer;
}

.logo {
  width: 96px;
  height: 50px;
  background-image: url('../assets/icons/logo.svg');
}
