

.header {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;

  &__logo-box {
    margin-left: 16px;
  }

  &__separator {
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
  }

  &__contacts {
    margin-right: 16px;
  }

  &__actions {
    margin-left: 16px;
  }

  &__links {
    display: flex;
    margin-right: 40px;
  }
}

.logo-box {
  display: flex;
  align-items: center;

  &__menu {
    margin-right: 20px;
  }

  &__logo {
    margin-left: 20px;
  }
}

.contacts {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 16px;
  }
}

.actions {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 16px;
  }
}

.b-button {
  width: 40px;
  height: 40px;

  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
}

.menu-button {
  background-image: url("../assets/icons/hamburger-icon.svg");
}

.phone-button {
  background-image: url("../assets/icons/tel.svg");
}

.message-button {
  background-image: url("../assets/icons/message.svg");
}

.contact-button {
  background-image: url("../assets/icons/contact.svg");
}

.search-button {
  background-image: url("../assets/icons/search.svg");
}

.tools-button {
  background-image: url("../assets/icons/tools.svg");
}