@import "variables";

.header {
  height: 88px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  background-color: white;

  &__actions {
    margin-left: 20px;
  }

  &__links {
    display: flex;
    align-items: center;
  }
}

.logo-box {
  display: flex;
  align-items: center;

  &__logo {
    margin: 0 16px;
  }

  &__separator {
    display: none;
  }
}

.separator {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px;
}

.contacts {
  display: none;
}

.actions {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 16px;
  }
}

.b-button {
  display: flex;
  align-items: center;

  &__text {
    display: none;
  }
}

.b-button-icon {
  width: 40px;
  height: 40px;

  background-color: $button-primary-color;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
}

.menu-button {
  background-image: url("../assets/icons/hamburger.svg");
}

.search-button {
  background-image: url("../assets/icons/search.svg");
}

.tools-button {
  background-image: url("../assets/icons/tools.svg");
}

@media (min-width: 768px) {
  .header {
    padding: 0 24px;

    &__contacts {
      margin-right: 20px;
    }
  }

  .contacts {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 16px;
    }
  }

  .logo-box {
    display: flex;
    align-items: center;

    &__menu {
      margin-right: 20px;
    }

    &__logo {
      margin: 0 0 0 20px;
    }

    &__separator {
      display: block;
    }
  }

  .phone-button {
    background-image: url("../assets/icons/tel.svg");
  }

  .message-button {
    background-image: url("../assets/icons/message.svg");
  }

  .contact-button {
    background-image: url("../assets/icons/contact.svg");
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .b-button {
    &__text {
      display: flex;
      margin-right: 9px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}