.menu {
  width: 320px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  box-shadow: 16px 0px 52px 0px #0E185033;

  &__header {
    padding: 18px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-left: 18px;
  }

  &__box {
    margin-top: 46px;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
    color: $text-color;
    vertical-align: center;

    &--active {
      color: $text-color-light;

      &::before {
        content: '';
        width: 4px;
        height: 32px;
        display: inline-block;
        background-color: $decor-elements-color;
        border-radius: 0 5px 5px 0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__link {
    position: absolute;
    left: 24px;
    font-size: 16px;
  }

  &__footer {
    margin: 50px 0 32px 24px;
  }

  &__email {
    display: block;
    margin: 16px 0 12px 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: $text-color;
  }

  &__phone {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: $text-color;
  }

  &__languages {
    width: 87px;
    margin-top: 40px;
  }
}

.menu-contacts {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 16px;
  }
}

.languages {
  display: flex;
  justify-content: space-between;

  &__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__radio:checked + .languages__label {
    color: $text-color-light;

    &:hover {
      color: $decor-elements-color;
      cursor: pointer;
    }
  }

  &__label {
    color: $text-color;
    text-transform: uppercase;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;

    &:hover {
      color: $decor-elements-color;
      cursor: pointer;
    }
  }
}
