@import 'variables';

.services-page {
  padding-top: 24px;

  &__title {
    display: flex;
    align-items: center;
  }

  &__title::before {
    content: '';
    width: 4px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    background-image: url('../assets/icons/highlight.svg');
  }
}

.page-title {
  font-size: 28px;
  line-height: 40px;
}

.services-page__nav {
  margin: 32px 0 0 24px;
}

.services-button {
  font-size: 16px;
  font-family: 'TT Lakes', sans-serif;
  font-weight: 500;
}