@import 'variables';

.services-page {
  padding-top: 24px;

  &__title {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      width: 4px;
      height: 40px;
      display: inline-block;
      margin-right: 12px;
      background-image: url('../assets/icons/highlight.svg');
    }
  }

  &__actions {
    display: none;
  }
}

.page-title {
  font-size: 28px;
  line-height: 40px;
  color: $text-color;
}

.services-navigation {
  margin: 24px 0 0 16px;
  white-space: nowrap;
  overflow: scroll;
  font-size: 0;

  &__wrapper {
    display: flex;
  }

  &__item {
    font-size: 16px;
    font-weight: 500;
    padding: 6px 8px 6px 14px;
    color: $button-text-color;

    &--selected {
      background-color: white;
      border: 2px solid $border-color;
      border-radius: 6px;
    }
  }
}

.tab {
  display: flex;
  flex-direction: column;

  &__text-box {
    margin: 24px 0 0 16px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    width: 288px;
    height: 90px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    overflow: hidden;
  }

  &__read-more-button {
    margin: 16px 0;
  }
}

.read-more-button {
  width: 132px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: $text-color;
  background-image: url('../assets/icons/read-more.svg');
  background-size: 10px 23px;
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
}

@media (min-width: 768px) {
  .services-page {

    &__title {
      &::before {
        margin-right: 20px;
      }
    }
  }

  .services-navigation {
    margin: 32px 0 0 24px;
  }

  .tab {
    width: 720px;
    margin: 32px 0 0 24px;
    flex-direction: row;
    justify-content: space-between;

    &__text-box {
      margin: 0;
    }

    &__text {
      width: 312px;
      height: 160px;
      line-height: 20px;
    }

    &__image {
      width: 360px;
      height: 208px;
      border-radius: 7px;
    }

    &__read-more-button {
      margin: 10px 0 0 0;
    }
  }
}

@media (min-width: 1120px) {
  .services-page {
    padding-top: 42px;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__actions {
      display: flex;
      margin-right: 32px;
    }
  }

  .services-navigation {
    margin: 8px 25px 0 33px;
    white-space: wrap;
    overflow: auto;
  }

  .tab {
    width: 1057px;
    margin: 16px 0 0 33px;

    &__text-box {
      margin: 0;
    }

    &__text {
      width: 490px;
    }

    &__image {
      width: 531px;
      height: 307px;
    }

    &__read-more-button {
      margin: 13px 0 0 0;
    }
  }
}
