$button-primary-color: #FF3E79;

$border-color: #D9FFF5;
$decor-elements-color: #41F6D7;

$background-color-primary: #F8F8F8;
$background-color-light: #EAEAEA;

$text-color: #1B1C21;
$text-color-light: #7E7E82;
