<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

<nav class="menu">
  <div>
    <header class="menu__header">
      <div class="logo-box">
        <button class="b-button-icon cross-icon"></button>
        <div class="menu__logo logo"></div>
      </div>
      <button class="b-button-icon loupe-icon"></button>
    </header>
    <ul class="menu__box">
      <li class="menu__item menu__item--active"><a class="menu__link">Ремонт техники</a></li>
      <li class="menu__item"><a class="menu__link">Услуги и сервисы</a></li>
      <li class="menu__item"><a class="menu__link">Корпоративным клиентам</a></li>
      <li class="menu__item"><a class="menu__link">Продавцам техники</a></li>
      <li class="menu__item"><a class="menu__link">Партнерам</a></li>
      <li class="menu__item"><a class="menu__link">Производителям</a></li>
      <li class="menu__item"><a class="menu__link">Наши сервисные центры</a></li>
      <li class="menu__item"><a class="menu__link">Контакты</a></li>
    </ul>
  </div>
  <footer class="menu__footer">
<!--    <div class="menu__contacts"></div>-->
    <p class="menu__email">mail@cps.com<p>
    <p class="menu__phone">8 800 890 8900<p>
    <ul class="menu__languages languages">
      <li>
        <input type="radio" id="lang-ru" name="lang-radio-button" class="languages__radio">
        <label for="lang-ru" class="languages__label">ru</label>
      </li>
      <li>
        <input type="radio" id="lang-en" name="lang-radio-button" class="languages__radio">
        <label for="lang-en" class="languages__label">en</label>
      </li>
      <li>
        <input type="radio" id="lang-ch" name="lang-radio-button" class="languages__radio">
        <label for="lang-ch" class="languages__label">ch</label>
      </li>
    </ul>
  </footer>

</nav>

</body>
</html>