html {
  font-family: "TT Lakes", sans-serif;
  color: #1B1C21;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p,
ul,
ol,
li {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body {
  background-color: #F8F8F8;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  font-family: "TT Lakes", sans-serif;
  cursor: pointer;
}

.logo {
  width: 96px;
  height: 50px;
  background-image: url("../assets/icons/logo.svg");
}

.header {
  height: 88px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
  background-color: white;
}
.header__actions {
  margin-left: 20px;
}
.header__links {
  display: flex;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}
.logo-box__logo {
  margin: 0 16px;
}
.logo-box__separator {
  display: none;
}

.separator {
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1px;
}

.contacts {
  display: none;
}

.actions {
  display: flex;
}
.actions__item:not(:last-child) {
  margin-right: 16px;
}

.b-button {
  display: flex;
  align-items: center;
}
.b-button__text {
  display: none;
}

.b-button-icon {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
}

@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }
  .header__contacts {
    margin-right: 20px;
  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-right: 16px;
  }
  .logo-box {
    display: flex;
    align-items: center;
  }
  .logo-box__menu {
    margin-right: 20px;
  }
  .logo-box__logo {
    margin: 0 0 0 20px;
  }
  .logo-box__separator {
    display: block;
  }
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
  .b-button__text {
    display: flex;
    margin-right: 9px;
    font-size: 16px;
    font-weight: 500;
  }
}
.services-page {
  padding-top: 24px;
}
.services-page__title {
  display: flex;
  align-items: center;
}
.services-page__title::before {
  content: "";
  width: 4px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  background-color: #41F6D7;
  border-radius: 0 5px 5px 0;
}
.services-page__actions {
  display: none;
}

.page-title {
  font-size: 28px;
  line-height: 40px;
  color: #1B1C21;
}

.services-navigation {
  margin: 24px 0 0 16px;
  white-space: nowrap;
  overflow: scroll;
  font-size: 0;
}
.services-navigation__wrapper {
  display: flex;
}
.services-navigation__item {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 8px 6px 14px;
  color: #7E7E82;
}
.services-navigation__item--selected {
  background-color: white;
  border: 2px solid #D9FFF5;
  border-radius: 6px;
}

.tab {
  display: flex;
  flex-direction: column;
}
.tab__text-box {
  margin: 24px 0 0 16px;
  display: flex;
  flex-direction: column;
}
.tab__text {
  width: 288px;
  height: 90px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  overflow: hidden;
}
.tab__read-more-button {
  margin: 16px 0;
}

.read-more-button {
  width: 132px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  color: #1B1C21;
  background-image: url("../assets/icons/read-more.svg");
  background-size: 10px 23px;
  background-repeat: no-repeat;
  background-position: left 8px top 50%;
}

@media (min-width: 768px) {
  .services-page__title::before {
    margin-right: 20px;
  }
  .services-navigation {
    margin: 32px 0 0 24px;
  }
  .tab {
    width: 720px;
    margin: 32px 0 0 24px;
    flex-direction: row;
    justify-content: space-between;
  }
  .tab__text-box {
    margin: 0;
  }
  .tab__text {
    width: 312px;
    height: 160px;
    line-height: 20px;
  }
  .tab__image {
    width: 360px;
    height: 208px;
    border-radius: 7px;
  }
  .tab__read-more-button {
    margin: 10px 0 0 0;
  }
}
@media (min-width: 1120px) {
  .services-page {
    padding-top: 42px;
  }
  .services-page__header {
    display: flex;
    justify-content: space-between;
  }
  .services-page__actions {
    display: flex;
    margin-right: 32px;
  }
  .services-page__title::before {
    margin-right: 30px;
  }
  .services-navigation {
    margin: 8px 25px 0 33px;
    white-space: wrap;
    overflow: auto;
  }
  .tab {
    width: 1057px;
    margin: 16px 0 0 33px;
  }
  .tab__text-box {
    margin: 0;
  }
  .tab__text {
    width: 490px;
  }
  .tab__image {
    width: 531px;
    height: 307px;
  }
  .tab__read-more-button {
    margin: 13px 0 0 0;
  }
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Italic.eot");
  src: local("TT Lakes Italic"), local("TTLakes-Italic"), url("../assets/fonts/TTLakes/TTLakes-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Italic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLight.eot");
  src: local("TT Lakes Condensed ExtraLight"), local("TTLakesCondensed-ExtraLight"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLight.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Regular.eot");
  src: local("TT Lakes Compressed Regular"), local("TTLakesCompressed-Regular"), url("../assets/fonts/TTLakes/TTLakesCompressed-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Regular.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-ThinItalic.eot");
  src: local("TT Lakes Compressed Thin Italic"), local("TTLakesCompressed-ThinItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-ThinItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Medium.eot");
  src: local("TT Lakes Condensed Medium"), local("TTLakesCondensed-Medium"), url("../assets/fonts/TTLakes/TTLakesCondensed-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Medium.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBoldItalic.eot");
  src: local("TT Lakes Compressed ExtraBold Italic"), local("TTLakesCompressed-ExtraBoldItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-ExtraLightItalic.eot");
  src: local("TT Lakes ExtraLight Italic"), local("TTLakes-ExtraLightItalic"), url("../assets/fonts/TTLakes/TTLakes-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-LightItalic.eot");
  src: local("TT Lakes Light Italic"), local("TTLakes-LightItalic"), url("../assets/fonts/TTLakes/TTLakes-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-LightItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Thin.eot");
  src: local("TT Lakes Thin"), local("TTLakes-Thin"), url("../assets/fonts/TTLakes/TTLakes-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Thin.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-DemiBoldItalic.eot");
  src: local("TT Lakes DemiBold Italic"), local("TTLakes-DemiBoldItalic"), url("../assets/fonts/TTLakes/TTLakes-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-DemiBoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Black.eot");
  src: local("TT Lakes Condensed Black"), local("TTLakesCondensed-Black"), url("../assets/fonts/TTLakes/TTLakesCondensed-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Black.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-LightItalic.eot");
  src: local("TT Lakes Condensed Light Italic"), local("TTLakesCondensed-LightItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-LightItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBold.eot");
  src: local("TT Lakes Condensed DemiBold"), local("TTLakesCondensed-DemiBold"), url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBold.eot");
  src: local("TT Lakes Compressed ExtraBold"), local("TTLakesCompressed-ExtraBold"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-ExtraBoldItalic.eot");
  src: local("TT Lakes ExtraBold Italic"), local("TTLakes-ExtraBoldItalic"), url("../assets/fonts/TTLakes/TTLakes-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-ExtraLight.eot");
  src: local("TT Lakes ExtraLight"), local("TTLakes-ExtraLight"), url("../assets/fonts/TTLakes/TTLakes-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-ExtraLight.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Bold.eot");
  src: local("TT Lakes Condensed Bold"), local("TTLakesCondensed-Bold"), url("../assets/fonts/TTLakes/TTLakesCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Bold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-ThinItalic.eot");
  src: local("TT Lakes Condensed Thin Italic"), local("TTLakesCondensed-ThinItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-ThinItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBoldItalic.eot");
  src: local("TT Lakes Condensed ExtraBold Italic"), local("TTLakesCondensed-ExtraBoldItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Medium.eot");
  src: local("TT Lakes Compressed Medium"), local("TTLakesCompressed-Medium"), url("../assets/fonts/TTLakes/TTLakesCompressed-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Medium.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Thin.eot");
  src: local("TT Lakes Condensed Thin"), local("TTLakesCondensed-Thin"), url("../assets/fonts/TTLakes/TTLakesCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Thin.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Italic.eot");
  src: local("TT Lakes Compressed Italic"), local("TTLakesCompressed-Italic"), url("../assets/fonts/TTLakes/TTLakesCompressed-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Italic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Light.eot");
  src: local("TT Lakes Compressed Light"), local("TTLakesCompressed-Light"), url("../assets/fonts/TTLakes/TTLakesCompressed-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Light.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-LightItalic.eot");
  src: local("TT Lakes Compressed Light Italic"), local("TTLakesCompressed-LightItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-LightItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Regular.eot");
  src: local("TT Lakes Condensed Regular"), local("TTLakesCondensed-Regular"), url("../assets/fonts/TTLakes/TTLakesCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Regular.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Light.eot");
  src: local("TT Lakes Condensed Light"), local("TTLakesCondensed-Light"), url("../assets/fonts/TTLakes/TTLakesCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Light.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("../assets/fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Bold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-DemiBold.eot");
  src: local("TT Lakes DemiBold"), local("TTLakes-DemiBold"), url("../assets/fonts/TTLakes/TTLakes-DemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-DemiBold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Thin.eot");
  src: local("TT Lakes Compressed Thin"), local("TTLakesCompressed-Thin"), url("../assets/fonts/TTLakes/TTLakesCompressed-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Thin.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Black.eot");
  src: local("TT Lakes Black"), local("TTLakes-Black"), url("../assets/fonts/TTLakes/TTLakes-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Black.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-MediumItalic.eot");
  src: local("TT Lakes Medium Italic"), local("TTLakes-MediumItalic"), url("../assets/fonts/TTLakes/TTLakes-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-MediumItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBold.eot");
  src: local("TT Lakes Condensed ExtraBold"), local("TTLakesCondensed-ExtraBold"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLightItalic.eot");
  src: local("TT Lakes Condensed ExtraLight Italic"), local("TTLakesCondensed-ExtraLightItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"), url("../assets/fonts/TTLakes/TTLakes-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Medium.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBoldItalic.eot");
  src: local("TT Lakes Condensed DemiBold Italic"), local("TTLakesCondensed-DemiBoldItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-BoldItalic.eot");
  src: local("TT Lakes Compressed Bold Italic"), local("TTLakesCompressed-BoldItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-BoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLightItalic.eot");
  src: local("TT Lakes Compressed ExtraLight Italic"), local("TTLakesCompressed-ExtraLightItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url("../assets/fonts/TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Regular.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-BoldItalic.eot");
  src: local("TT Lakes Bold Italic"), local("TTLakes-BoldItalic"), url("../assets/fonts/TTLakes/TTLakes-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-BoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-MediumItalic.eot");
  src: local("TT Lakes Condensed Medium Italic"), local("TTLakesCondensed-MediumItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-MediumItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-Italic.eot");
  src: local("TT Lakes Condensed Italic"), local("TTLakesCondensed-Italic"), url("../assets/fonts/TTLakes/TTLakesCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-Italic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-ThinItalic.eot");
  src: local("TT Lakes Thin Italic"), local("TTLakes-ThinItalic"), url("../assets/fonts/TTLakes/TTLakes-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-ThinItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBold.eot");
  src: local("TT Lakes Compressed DemiBold"), local("TTLakesCompressed-DemiBold"), url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-BlackItalic.eot");
  src: local("TT Lakes Black Italic"), local("TTLakes-BlackItalic"), url("../assets/fonts/TTLakes/TTLakes-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-BlackItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Bold.eot");
  src: local("TT Lakes Compressed Bold"), local("TTLakesCompressed-Bold"), url("../assets/fonts/TTLakes/TTLakesCompressed-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Bold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-BlackItalic.eot");
  src: local("TT Lakes Condensed Black Italic"), local("TTLakesCondensed-BlackItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-BlackItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-MediumItalic.eot");
  src: local("TT Lakes Compressed Medium Italic"), local("TTLakesCompressed-MediumItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-MediumItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Condensed";
  src: url("../assets/fonts/TTLakes/TTLakesCondensed-BoldItalic.eot");
  src: local("TT Lakes Condensed Bold Italic"), local("TTLakesCondensed-BoldItalic"), url("../assets/fonts/TTLakes/TTLakesCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCondensed-BoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLight.eot");
  src: local("TT Lakes Compressed ExtraLight"), local("TTLakesCompressed-ExtraLight"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLight.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-ExtraBold.eot");
  src: local("TT Lakes ExtraBold"), local("TTLakes-ExtraBold"), url("../assets/fonts/TTLakes/TTLakes-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-ExtraBold.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBoldItalic.eot");
  src: local("TT Lakes Compressed DemiBold Italic"), local("TTLakesCompressed-DemiBoldItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBoldItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-DemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-BlackItalic.eot");
  src: local("TT Lakes Compressed Black Italic"), local("TTLakesCompressed-BlackItalic"), url("../assets/fonts/TTLakes/TTLakesCompressed-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-BlackItalic.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../assets/fonts/TTLakes/TTLakes-Light.eot");
  src: local("TT Lakes Light"), local("TTLakes-Light"), url("../assets/fonts/TTLakes/TTLakes-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakes-Light.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakes-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Compressed";
  src: url("../assets/fonts/TTLakes/TTLakesCompressed-Black.eot");
  src: local("TT Lakes Compressed Black"), local("TTLakesCompressed-Black"), url("../assets/fonts/TTLakes/TTLakesCompressed-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTLakes/TTLakesCompressed-Black.woff") format("woff"), url("../assets/fonts/TTLakes/TTLakesCompressed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.menu {
  width: 320px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}
.menu__header {
  padding: 18px 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__logo {
  margin-left: 18px;
}
.menu__box {
  margin-top: 46px;
}
.menu__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 32px;
  color: #1B1C21;
  vertical-align: center;
}
.menu__item--active {
  color: #7E7E82;
}
.menu__item--active::before {
  content: "";
  width: 4px;
  height: 32px;
  display: inline-block;
  background-color: #41F6D7;
  border-radius: 0 5px 5px 0;
}
.menu__item:not(:last-child) {
  margin-bottom: 18px;
}
.menu__link {
  position: absolute;
  left: 24px;
  font-size: 16px;
}
.menu__footer {
  margin: 50px 0 32px 24px;
}
.menu__email {
  display: inline-block;
  margin: 16px 0 12px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.menu__phone {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.menu__languages {
  width: 87px;
  margin-top: 40px;
}

.menu-contacts {
  display: flex;
  align-items: center;
}
.menu-contacts__item:not(:last-child) {
  margin-right: 16px;
}

.languages {
  display: flex;
  justify-content: space-between;
}
.languages__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.languages__radio:checked + .languages__label {
  color: #7E7E82;
}
.languages__label {
  color: #1B1C21;
  text-transform: uppercase;
}

.b-button {
  transition: opacity 0.5s;
  cursor: pointer;
}
.b-button:hover {
  opacity: 0.5;
}

.menu-icon {
  background-image: url("../assets/icons/hamburger.svg");
}

.search-icon {
  background-image: url("../assets/icons/search.svg");
}

.phone-icon {
  background-image: url("../assets/icons/tel.svg");
}

.message-icon {
  background-image: url("../assets/icons/message.svg");
}

.contact-icon {
  background-image: url("../assets/icons/contact.svg");
}

.tools-icon {
  background-image: url("../assets/icons/tools.svg");
}

.cross-icon {
  background-image: url("../assets/icons/cross.svg");
}

.loupe-icon {
  background-image: url("../assets/icons/loupe.svg");
}

/*# sourceMappingURL=styles.css.map */
